:root {

--uncblue: rgb(1,45,91);
--uncgold: rgb(254,189,54);
--uncsky: rgb(186,232,255);

}

body{
    background-color: var(--uncblue);
    color: var(--uncgold);
}

a {
    color: var(--uncgold);
}

a :hover {
background-color: var(--uncsky);
}

#leftbar, #td {
    background-color: var(--uncsky);
    color: var(--uncblue);
}


