
<link rel="stylesheet" href="css/main.css">

body {
background-color: white
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
color: #12344b;
font-weight: 500%;
}

 rgb(20,120,140)

 rgb(180,200,220);

h {
    font-family: "Georgia", "Times New Roman", serif; 
}

p {
    font-family: "Verdana", "Arial", sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
