

td, tr
{
  border: 2px solid black;
}
th
{
  border: 3px solid black;
}
table{
  border-collapse: collapse;
  border: 3px solid black;
}
td, th {

padding-left: 20px;
padding-right: 20px;
}


.rowheader{
    background-color: rgb (0, 0, 0);
}